@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


@mixin resource-list {
    list-style: none;
    margin: $spacing-unit 0;
    border-top: 1px solid $grey-color-dark;
    padding-top: $spacing-unit;
    
    .resource {
        margin-bottom: $spacing-unit;        
        border-bottom: 1px solid $grey-color-dark;
        padding-bottom: $spacing-unit;
        display: flow-root;
    }
    
    .resource-link {
        width: 100%;
        display: inline;
    }
    
    .resource .resource-link img {
        margin-left: $spacing-unit;
        float: right;
        max-width: 13rem;
    }
    
    .resource-link {
        margin-bottom: 0;
        font-variant: small-caps;
    }
}