.break.opaque {
    border-bottom: 1px solid $grey-color-dark;
    margin: $spacing-unit 0;
}

.home .blocks > h2:first-child {
    display: none;
}

.home .stats {
    display: flex;
    flex-wrap: wrap;
}

.home .stat {
    width: 50%;
    display: flex;
    padding: $spacing-unit $spacing-unit 0 0;
}

.home .stat h3 {
    font-size: 1.375 * $base-font-size;
    line-height: $base-line-height;
    width: 40%;
    margin-right: $spacing-unit;
    text-align: right;
}

.home .stat p {
    width: 60%;
}

.home .item-showcase {
    display: flex;
    margin: 0 (-.5 * $spacing-unit);

    .item {
        width: 25%;
        padding: (.5 * $spacing-unit);
    }

    .item h3 {
        margin: (.5 * $spacing-unit) 0;
    }
}

.blocks .intro {
    position: relative;
    padding-bottom: .5 * $spacing-unit;
    text-align: center;

    p {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    p,
    .button {
        font-size: 1.25 * $base-font-size;
        line-height: 1.5 * $base-line-height;    
    }

    &:after {
        content: "";
        position: absolute;
        top: -30px;
        left: -9999px;
        right: -9999px;
        bottom: 0;
        background: $grey-color-light;
        z-index: -1;
    }
}

.blocks {
    max-width: 900px;
    margin: auto;
}

.item.browse .resource-list {
    list-style: none;
    margin: $spacing-unit 0;
    border-top: 1px solid $grey-color-dark;
    padding-top: $spacing-unit;
    max-width: 800px;
    
    .resource {
        display: flex;
        justify-content: flex-end;
        margin-bottom: $spacing-unit;        
        border-bottom: 1px solid $grey-color-dark;
        padding-bottom: $spacing-unit;
    }
    
    .item-thumbnail {
        align-self: flex-end;
    }
    
    .item-meta {
        width: 100%;
    }
    
    .item-thumbnail + .item-meta {
        width: 80%;
        margin-left: $spacing-unit;
    }
    
    h4 {
        margin-bottom: 0;
        font-variant: small-caps;
    }
}

.browse-controls {
    align-items: center;
}

.browse-controls .sorting {
    order: 1;
    margin-right: $spacing-unit;
}

.browse-controls .advanced-search {
    order: 2;
}

.browse-controls .pagination {
    order: 3;
    
    form {
        margin-right: (.5 * $spacing-unit);
    }
}

.wrapper > h2:first-child {
    text-align: center;
}

.wrapper > h2:first-child + h3 {
    text-align: center;
    margin-top: (-.5 * $spacing-unit);
    font-variant: small-caps;
}

.properties {
    max-width: 800px;
    margin: 0 auto;
}

.media-list,
.property {
    display: flex;
    width: 100%;
    padding: (.25 * $spacing-unit) 0;

    &:not(:last-child) {
        border-bottom: 1px solid $grey-color-dark;
    }
    
    h4 {
        width: 30%;
        padding-right: $spacing-unit;
        text-align: right;
        margin-bottom: 0;
        font-variant: small-caps;
    }
    
    a.resource-link,
    .values {
        width: 70%;
    }

    .resource-link {
        display: flex;
        align-items: center;
        
        img {
            width: 1.5 * $spacing-unit;
            height: 1.5 * $spacing-unit;
            margin-right: (.25 * $spacing-unit);
        }
        
    }
}

.media-list {
    margin-bottom: 2 * $spacing-unit;
}

.item.show table {
    max-width: 800px;
    margin: $spacing-unit auto;
}

.item.show h3 {
    text-align: center;
    margin: (2 * $spacing-unit) auto 0;
}